# version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27018:27017"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    ports:
      - "8081:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/Travel_Bucket
      - SPRING_PROFILES_ACTIVE=prod
      - JAVA_OPTS=
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: "http://backend:8080/api/v1"
    container_name: frontend
    restart: unless-stopped
    ports:
      - "3000:80"   # host 3000 -> nginx:80
    depends_on:
      - backend

volumes:
  mongo_data:
