.nav_wrapper {
    height: 80px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: fixed;
    top: 0;
    z-index: 99;
    gap: 280px;
}

.nav_wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0, transparent, #000);
    z-index: -1;
}

.navbarScroll {
    background-color: #1e1e1e;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.logo span {
    color: #23A300;
}

.nav_wrapper ul li {
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.Nav_btns button {
    background-color: #23A300;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;
    margin-right: 100px;
}

#bars {
    border: none;
    background-color: #23A300;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    box-shadow: 2px 2px 3px #ffffff94, inset 3px 3px 10px #ffffff39;
    transition: 1s;
    cursor: pointer;
    display: none;
}

#bars:hover {
    box-shadow: 0px 0px 0px #ffffff94, inset 3px 3px 10px #ffffff39;
    transform: scale(0.95);
}

@media screen and (max-width: 1200px) {
    #bars {
        display: flex;
    }

    .nav_wrapper ul {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        backdrop-filter: blur(8px);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid #fff;
        flex-direction: column;
    }

    .shownNav {
        left: 0 !important;
    }

    .nav_wrapper ul li {
        display: block;
        margin: 5px 0;
        padding: 25px 0;
        padding-left: 15%;
        border-bottom: 1px solid rgba(131, 131, 131, 0.5);
    }

    .nav_wrapper ul li:last-child {
        border: none;
    }
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    gap: 20px;
    flex-wrap: nowrap;
}

.nav_wrapper ul {
    display: flex;
    gap: 20px;
}
